body{
    width: 100%;
    height: 100%;
}
#container{
    margin-left: 5px;
    margin-right: 5px;
    width: 2050px;
    height: 100%;
}

/*******  Contenedores centrales *******/
#contenidoCentral{
    border: 1px solid black;
    width: 100% ;
    height: 500px;
}

#derecho{
    border: 1px black solid;
    width: 47%;
    height: 500px;
    background-color: rgb(37, 179, 223);
    float: right;
}
#formulario{
    border: 1px black solid;
    width: 50%;
    height: 500px;
    background-color: yellow;
    float: left;
}
#abajo{
    border: 1px black solid;
    width: 100%;
    height: 250px;
    background-color: rgb(230, 77, 77);
    float: left;
    
}

input:invalid{
    border: 3px solid red;
}